/**
* Global 
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10vh;
}

/***
* Header section 
*/
header {
    max-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-notification {
    max-width: 100%;
    background-color: #e63946;
}

.header-notification-content {
    max-width: 1300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #eee;
}

.nav-top {
    background-color: #000;
    border: 1px solid #222;
}

.nav-content {
    max-width: 1300px;
    height: 100px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #eee;
}

.nav-menu-top {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.nav-menu-top li {
    padding: 20px;
}

.nav-menu-top a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.btn-collapse {
    display: none;
    font-size: 40px;
    color: #fff;
}

/***
* main section 
*/
main {
    box-sizing: content-box;
    min-height: 100vh;
    background-color: #fff;
}

/***
* home section 
*/
.home {
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/home.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home-content {
    padding: 0 15px;
    text-align: center;
    color: #fff;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-content p {
    margin: 15px 0;
    font-size: 20px;
}

.home-content button {
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #fff;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 15px 40px;
    cursor: pointer;
    letter-spacing: 1.5px;
    background-color: transparent;
    color: #fff;
    transition: color 0.4s linear;
}

.home-content button:hover {
    border: 3px solid #e63946;
    background-color: #e63946;
}

/***
* About section 
*/

.about {
    min-height: 100vh;
}

.about-content {
    padding: 10vh 15px;
}

.about-content h2 {
    text-align: center;
    margin: 20px 0;
}

.row {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.about-content-text {
    padding: 15px;
    font-size: 1.2em;
    line-height: 1.625em;
    text-align: justify;
}

.about-content-text h3 {
    text-align: center;
}

.about-content-bg {
    padding: 10px
}

/***
* prining section 
*/

.pricing {
    margin: 10vh 0;
    background: rgb(230, 57, 70);
    background: linear-gradient(180deg, rgba(230, 57, 70, 1) 45%, rgba(255, 255, 255, 1) 45%);
}

.pricng-content {
    padding: 20px 10px;
}

.panel-pricing {
    display: flex;
    max-width: 960px;
    margin: auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    position: relative;
    z-index: 1;
}

.pricing-plan {
    padding: 40px 10px;
}

.pricing-plan:first-child {
    background-color: #eee;
    border-radius: 10px 0 0 10px;
    /* border: 2px solid #eee */
}

.pricing-header {
    color: #e63946;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    color: #333;
    letter-spacing: 1px;
    margin: 50px 0 25px 0;
    list-style: none;
    padding: 10px;
}

.pricing-features-item {
    border-top: 1px solid #aaa;
    line-height: 2;
    padding: 10px;
}

.pricing-price {
    display: block;
    padding: 15px 20px;
    font-size: 40px;
    text-align: center;
    color: #ddd;
    letter-spacing: 5px;
    background-color: #333;

}

.pricing-plan:hover>.pricing-price {
    color: #fff;
}

/***
* Gallery section 
*/

.gallery {
    min-height: 65vh;
}

.gallery-content {
    max-width: 1300px;
    margin: auto;
}

.gallery-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.gallery-wrapper div {
    width: 100%;
    display: flex;
}

.gallery-wrapper div img {
    box-sizing: border-box;
    padding: 10px;
    min-width: 33%;
    color: #333;
    position: relative;
    border: 10px solid transparent;
    transition: all 0.5s ease-in-out;
}

.gallery-wrapper div img:hover {
    width: 100%;
    border: 10px solid #e63946;
}

.gallery-control {
    width: 30%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.gallery-control div {
    width: 40%;
    padding: 10px 0;
    border: 1px solid #333;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.gallery-control div:hover {

    background-color: #eee;
}

/***
* Contact section 
*/

.contact {
    background-color: #333;
    color: #fff;
    min-height: 65vh;
    padding: 10vh 10px;
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-wrapper>div {
    width: 48%;
}

.contact-informations {
    width: 100%;
    padding: 10px 0;
}

.contact-informations span {
    font-weight: 600;
    letter-spacing: 2.5px;
}

.contact-email {
    width: 100%;
    box-sizing: border-box;
}

.contact-email h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.contact-email input,
.contact-email textarea {
    width: 100%;
    margin: 5px 0;
    padding: 7px 10px;
}

.contact-email button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.contact-email button:hover {
    border: 2px solid #ccc;
}


/***
* Footer section 
*/
footer {
    background-color: #000;
}

.footer-content {
    padding: 20px 15px;
    text-align: center;
    color: #ccc;
}

.footer-content a,
.footer-content a:hover,
.footer-content a:active {
    color: #eee;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .row {
        display: block;
    }

    .gallery-wrapper div img {
        min-width: 50%;
    }

    .gallery-control {
        width: 80%;
    }

    .contact-wrapper>div {
        width: 90%;
        justify-content: space-around;
    }

    .contact-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-content {
        height: auto;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .nav-menu-top {
        display: none;
        position: absolute;
        flex-wrap: wrap;
        top: 145px;
        left: 0;
        width: 100%;
        background-color: #000;
        margin: 0;
        padding: 15px;
    }

    .nav-menu-top li {
        width: 100%;
    }

    .btn-collapse {
        display: block;
    }

    .panel-pricing {
        flex-wrap: wrap;
    }

    .gallery-wrapper div img {
        min-width: 100%;
    }
}

